<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to Our Website</h1>
        </header>
        <main>
            <div class="button-container">
                <button class="btn" onclick="location.href = '/home'">Register</button>
                <button class="btn" onclick="location.href = '/sign'">Login</button>
            </div>
        </main>
    </div>
</body>
</html>
